#markdown-body p {
  @apply text-base leading-8;
}
  
#markdown-body h1 {
  @apply font-bold tracking-tight text-white max-sm:text-3xl sm:text-4xl;
  @apply border-b-2 border-indigo-600 sm:mb-2 sm:mt-8;
}
  
#markdown-body h2 {
  @apply font-bold tracking-tight text-white max-sm:text-2xl sm:text-3xl;
  @apply border-b-2 border-indigo-600 sm:mb-2 sm:mt-8;
}
  
#markdown-body h3 {
  @apply mt-6 font-bold tracking-tight text-white max-sm:text-xl sm:text-2xl;
}
  
#markdown-body h4 {
  @apply mt-6 font-bold tracking-tight text-white max-sm:text-lg sm:text-xl;
}
  
#markdown-body ul,
#markdown-body ol {
  @apply mt-6 list-disc ml-8;
}
  
#markdown-body li {
  @apply mt-1;
}
  
#markdown-body a {
  @apply text-indigo-600 break-all;
}

#markdown-body code {
  @apply text-sm font-mono bg-gray-800 text-white p-1 rounded break-all;
}

#markdown-body pre {
  overflow-x: auto;
  padding: 1rem 0;
}
 
#markdown-body pre [data-line] {
  padding: 0 1rem;
}

html {
  scroll-padding-top: 15dvh;
}